.gesture {
  min-width: 130px;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  color: var(--dark-text);
  position: relative; // needed because ::before is absolute

  &::before {
    display: grid;
    place-items: center;
    position: absolute;
    top: calc(50% + 2.5px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    aspect-ratio: 1 / 1;
    border-radius: inherit;
    background: #e7e7e7;
    box-shadow: 0 -5px 0 #babfd4;
  }

  $types: (
    paper: (
      gradient: var(--paper-gradient),
      shadow: var(--paper-shadow),
      icon: "../../assets/icon-paper.svg",
    ),
    rock: (
      gradient: var(--rock-gradient),
      shadow: var(--rock-shadow),
      icon: "../../assets/icon-rock.svg",
    ),
    scissors: (
      gradient: var(--scissors-gradient),
      shadow: var(--scissors-shadow),
      icon: "../../assets/icon-scissors.svg",
    ),
  );

  @each $type, $data in $types {
    &.#{$type} {
      background: map-get($data, gradient);
      box-shadow: 0 5px 0 map-get($data, shadow),
        0px 3px 3px var(--button-shadow);
      &::before {
        content: url("#{map-get($data, icon)}");
      }
    }
  }
}
