@use "sass:map";

.wrapper {
  position: relative;
}

.gesture {
  width: 130px;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  color: var(--dark-text);
  position: relative; // needed because ::before is absolute

  &::before {
    display: grid;
    place-items: center;
    position: absolute;
    top: calc(50% + 2.5px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    aspect-ratio: 1 / 1;
    border-radius: inherit;
    background: #e7e7e7;
    box-shadow: 0 -5px 0 #babfd4;
  }

  &.loading {
    background-image: linear-gradient(
      90deg,
      rgba(0 0 0 / 0.1) 0px,
      #83838302 40px,
      rgba(0 0 0 / 0.1) 80px
    );
    background-size: 600px;
    animation: shine-lines 1.6s infinite linear;
  }

  $types: (
    paper: (
      gradient: var(--paper-gradient),
      shadow: var(--paper-shadow),
      icon: "../../assets/icon-paper.svg",
    ),
    rock: (
      gradient: var(--rock-gradient),
      shadow: var(--rock-shadow),
      icon: "../../assets/icon-rock.svg",
    ),
    scissors: (
      gradient: var(--scissors-gradient),
      shadow: var(--scissors-shadow),
      icon: "../../assets/icon-scissors.svg",
    ),
    lizard: (
      gradient: var(--lizard-gradient),
      shadow: var(--lizard-shadow),
      icon: "../../assets/icon-lizard.svg",
    ),
    spock: (
      gradient: var(--spock-gradient),
      shadow: var(--spock-shadow),
      icon: "../../assets/icon-spock.svg",
    ),
  );

  @each $type, $data in $types {
    &.#{$type} {
      background: map.get($data, gradient);
      box-shadow: 0 5px 0 map.get($data, shadow),
        0px 3px 3px var(--button-shadow);
      &::before {
        content: url("#{map.get($data, icon)}");
      }
    }
  }
}

.pulse {
  position: absolute;
  width: 165px;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  background: white;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 140px;
  }
}
