@import "../../mixins.scss";

.gamePanel {
  align-self: stretch;
  position: relative;
  display: grid;
  row-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  @include for-tablet {
  }
}
