.wrapper {
  max-width: 188px;
  position: relative;
}

.button {
  position: absolute;
  background: none;
  cursor: pointer;

  &.paper {
    top: 0;
    left: 0;
    translate: -50% -50%;
  }

  &.rock {
    bottom: 0;
    left: 50%;
    translate: -50% 50%;
  }

  &.scissors {
    top: 0;
    right: 0;
    translate: 50% -50%;
  }
}
