@use "../../mixins.scss" as *;

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0 0 0 / 0.5);
  backdrop-filter: blur(2px);
}

.triggerBtn {
  color: white;
  position: absolute;
  right: 0;
  top: 50%;
  translate: 0 -50%;

  @include for-tablet {
    position: fixed;
    top: 30px;
    right: 30px;
  }
}

.popover {
  background: linear-gradient(0deg, #f3f3f3 0%, #ffffff 100%);
  color: var(--dark-text);
  padding: 20px;
  border-radius: 8px;
  min-width: 275px;
}

.dialog {
  display: grid;
  gap: 16px;
  outline: none;

  &:focus-visible {
    outline: 2px solid var(--dark-text);
    outline-offset: 8px;
  }
}

.heading {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
}

.label {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.difficulty,
.gameMode {
  display: grid;
  gap: 16px;
}

.gameMode {
  grid-template-columns: 1fr 1fr;

  > :nth-child(2) {
    grid-row-start: 2;
  }

  > :nth-child(3) {
    grid-row-start: 2;
    grid-column-start: 2;
  }
}

.difficultyRadio,
.gameModeRadio {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  &:before {
    content: "";
    display: block;
    border: 2px solid var(--dark-text);
    transition: all 200ms;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
  }

  &.difficultyRadio:before {
    width: 24px;
  }

  &.gameModeRadio:before {
    width: 32px;
  }

  &[data-selected] {
    &.difficultyRadio:before {
      border-width: 7px;
    }
    &.gameModeRadio:before {
      border-width: 9px;
    }
  }

  &[data-focus-visible]:before {
    outline: 2px solid var(--dark-text);
    outline-offset: 2px;
  }
}

.separator {
  background: var(--dark-text);
  height: 2px;
  width: calc(100% + 20px);
  justify-self: center;
}

.soundSwitch {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;

  .indicator {
    width: 50px;
    height: 28px;
    border: 2px solid var(--dark-text);
    background: transparent;
    border-radius: 4px;
    transition: all 200ms;

    &:before {
      content: "";
      display: block;
      margin: 2px;
      width: 20px;
      aspect-ratio: 1 / 1;
      background: var(--dark-text);
      border-radius: inherit;
      transition: all 200ms;
    }
  }

  &[data-selected] {
    .indicator {
      background: var(--dark-text);

      &:before {
        background: white;
        transform: translateX(100%);
      }
    }
  }

  &[data-focus-visible] .indicator {
    outline: 2px solid var(--dark-text);
    outline-offset: 2px;
  }
}

.resetBtn {
  justify-self: end;
  margin: auto 0;
}
