.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0 0 0 / 0.5);
  backdrop-filter: blur(2px);
}

.triggerBtn {
  color: white;
  position: absolute;
  right: 0;
  top: 50%;
  translate: 0 -50%;
}

.popover {
  background: linear-gradient(0deg, #f3f3f3 0%, #ffffff 100%);
  color: var(--dark-text);
  padding: 20px;
  border-radius: 8px;
  min-width: 250px;
}

.dialog {
  display: grid;
  gap: 16px;
}

.heading {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
}

.label {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.difficulty,
.gameMode {
  display: grid;
  gap: 12px;
}

.gameMode {
  grid-template-columns: 1fr 1fr;

  > :nth-child(2) {
    grid-row-start: 2;
  }

  > :nth-child(3) {
    grid-row-start: 2;
    grid-column-start: 2;
  }
}

.difficultyRadio,
.gameModeRadio {
  display: flex;
  align-items: center;
  gap: 0.571rem;
  cursor: pointer;

  &:before {
    content: "";
    display: block;
    border: 0.143rem solid var(--dark-text);
    transition: all 200ms;
    border-radius: 100%;
  }

  &.difficultyRadio:before {
    width: 20px;
    height: 20px;
  }

  &.gameModeRadio:before {
    width: 28px;
    height: 28px;
  }

  // &[data-pressed]:before {
  //   border-color: var(--border-color-pressed);
  // }

  &[data-selected] {
    &.difficultyRadio:before {
      // border-color: var(--highlight-background);
      border-width: 6px;
    }
    &.gameModeRadio:before {
      // border-color: var(--highlight-background);
      border-width: 9px;
    }

    // &[data-pressed]:before {
    //   border-color: var(--highlight-background-pressed);
    // }
  }

  // &[data-focus-visible]:before {
  //   outline: 2px solid var(--focus-ring-color);
  //   outline-offset: 2px;
  // }
}
