@use "../../mixins.scss" as *;

.confetti {
  position: fixed !important;
  top: 0 !important;
  left: 0;
  pointer-events: none;
}

.gameOverWrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 16px;
  grid-column: 1 / span 2;

  @include for-tablet {
    grid-column: 2 / span 1;
    grid-row-start: 1;
    justify-self: center;
  }
}

.gameOverText {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4.1875rem;
  text-align: center;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
}
