.btn {
  border-radius: 8px;
  margin: 0 auto;
  cursor: pointer;

  color: var(--dark-text);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.1563rem;
  transition: color 200ms ease-out;
  outline: none;

  &.primary {
    height: 48px;
    min-width: 220px;
    background: linear-gradient(0deg, #f3f3f3 0%, #ffffff 100%);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);

    &[data-hovered] {
      color: #de4762;
    }
  }

  &.destructive {
    height: 48px;
    min-width: 100px;
    background: #de4762;
    color: white;
    border: solid 2px transparent;

    &[data-focus-visible] {
      outline: 2px solid var(--dark-text);
      outline-offset: 2px;
    }

    &[data-hovered] {
      color: #de4762;
      background: none;
      border-color: #de4762;
    }
  }

  &.secondary {
    height: 40px;
    min-width: 128px;
    background: transparent;
    border: 1px solid #ffffff;
    color: white;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);

    &[data-hovered] {
      color: var(--dark-text);
      background: linear-gradient(0deg, #f3f3f3 0%, #ffffff 100%);
    }
  }

  &.icon {
    border-radius: 100%;
    padding: 12px;
    display: grid;
    place-items: center;
    background: none;
  }

  &[data-focus-visible] {
    outline: 2px solid #f9f9fa;
    outline-offset: 2px;
  }
}
