@use "./mixins.scss" as *;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  align-items: start;
  gap: 50px;
  min-height: 100svh;
  padding: 32px;
  overflow-x: hidden;

  @include for-tablet {
    max-width: 700px;
    margin: 0 auto;
    overflow-x: visible;
  }
}
