.triggerBtn {
  justify-self: center;
}

.modal {
  position: fixed;
  inset: 0;
}

.dialog {
  color: var(--dark-text);
  background: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.heading {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
}
